/build*/
.vscode/
setup/temp
setup/.tmpPandia
setup/cameras/.tmpPandia
resources/config
resources/models*
resources/pcdModels
*.pyc
PandiaControl/core/*.db
3rdParty/Open3D/build
3rdParty/Open3D/install
PandiaControl/ControlPythonEnv/
PandiaControl/core/static/3dModels/*
PandiaWorkhorse/WorkhorsePythonEnv/
PandiaWorkhorse/resources/*.ply
PandiaWorkhorse/resources/*.pcd
PandiaWorkhorse/resources/quality/*.ply
PandiaWorkhorse/resources/quality/*.pcd
PandiaWorkhorse/resources/volume/*.ply
PandiaWorkhorse/resources/volume/*.pcd
PandiaWorkhorse/PhotoneoLogFiles
PandiaWorkhorse/VolumeLog.txt
PandiaControl/ControlMain.build
PandiaControl/ControlMain.dist
PandiaControl/ControlMain.bin
PandiaControl/cppBindings.cpython*
PandiaWorkhorse/WorkhorseMain.build
PandiaWorkhorse/WorkhorseMain.dist
PandiaWorkhorse/WorkhorseMain.bin
PandiaWorkhorse/cppBindings.cpython*
re
sys
/bin/
test.py
/docs/build
/docs/VirtualEnv
